.cards {
    background-color: cornsilk;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 15px;
}
.box-wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 200px;
}
.box {
    max-width: 25%;
    border-style: 3px solid red;
    float:left
}
